<div ng-controller="ClassListController">
	<div class="row nomargin">
		<div class="col-sm-5"> 
			<div class="panel panel-default" style="margin-top: 5px">
		        <div class="panel-heading font-bold">Enter Class Name</div>
		        <div class="panel-body">
		        	<form class="bs-example form-horizontal" ng-submit="onAddClass()">
		        		<div class="form-group">
		        			<label class="col-sm-4 control-label">Select Year Group</label>
		        			<div class="col-sm-8">		        				
		        				<select type="text" ng-model="classes.year_group" class="form-control" ng-options="year for year in year_group_list" required/>		        				
		        			</div>
		        		</div>

		        		<div class="form-group">
		        			<label class="col-sm-4 control-label">Enter Class Name</label>
		        			<div class="col-sm-8">		        				
		        				<input type="text" ng-model="classes.name" class="form-control"
						            required>
		        				<span class="help-block m-b-none">e.g 3SB</span>
		        			</div>
		        		</div>
		        		<div class="form-group">
		        			<div class="col-sm-12">
		        				<div class="pull-right">  
			        			  	<button type="submit" class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa" ng-class="{'fa-plus': !(classes.id > 0), 'fa-pencil': classes.id > 0}"></i>{{classes.id > 0 ? 'Save Class' : 'Add New Class'}}</button>
			        			  	<button type="button" class="btn m-b-xs btn-sm btn-default" ng-click="onCancelClasses()">Cancel</button>
			        			</div>
			        		</div>	
		        		</div>		        		
		        	</form>
		        </div>
      		</div>
		</div>
		<div class="col-sm-7 nopadding"> 	
			<div  class="b-info" style="border-style: solid;">
				<h3 class="text-center mybg-info">
					Current Class
				</h3>
				<div class="table table-responsive" fill-height additional-padding="70">
	            	<table  class="table ticket table-striped" style="margin-top: 3px; border-color">
	            		<thead>
		                	<tr class="tblhead-sm" style="font-size: .7vw">
		                		<th class="text-center"><b>Click to view booking</b></th>
		                		<th class="text-center"><b>Import Pupils</b></th>
		                		<th class="text-center"><b>Set password</b></th>		                		
		                		<th  class="text-center"><b>x Delete</b></th>		                		
		                	</tr>
	            		</thead>
	            		<tbody>
		                	<tr style="height:1vw" ng-repeat="row in class_list"  >
		                		<td class="text-center" style="padding: 10px 3px">		                		  	
		                		  	<span class="h4 text-info" ng-click="onGoBooking(row)">Year-{{row.year_group}} {{row.name}}</span>
		                		</td>
		                		<td class="text-center v-middle">
		                			<i class="fa fa-plus-square text-info text-lg" aria-hidden="true" multiple ngf-select="uploadFile($files, row)" ngf-max-size="10MB"></i> 		                			
		                			&nbsp;&nbsp;{{row.cnt}}
		                		</td>
		                		<td class="text-center v-middle">
		                		     <i class="fa fa-plus-square text-info text-lg" aria-hidden="true" ng-click="onSetPassword(row)"></i>
		                		     &nbsp;&nbsp;{{row.password}}      
		                		</td>
		                		<td class="text-center v-middle">
		                			<i class="fa fa-clock-o text-warning text-lg" aria-hidden="true" ng-click="onGoTimeSlot(row)"></i>      
		                			<i class="fa fa-pencil text-info text-lg" aria-hidden="true" ng-click="onEditClasses(row)"></i>      
		                			<i class="fa fa-times text-danger text-lg" aria-hidden="true" ng-click="onDeleteClasses(row)"></i>      
		                		</td>		                		
		                	</tr>
	            		</tbody>
	            	</table>
            	</div>
			</div>				
		</div>
	</div>
</div> 
