<div ng-controller="BookingController">
	<div class="row nomargin">
		<div class="col-sm-4 nopadding"> 	
			<div class="panel panel-default" style="margin-top: 5px">
		        <div class="panel-heading font-bold">Enter Parent Information</div>
		        <div class="panel-body">
		        	<form class="bs-example form-horizontal" ng-submit="onAddBooking()">
		        		<div class="form-group">
		        			<label class="col-sm-4 control-label">Class</label>
		        			<div class="col-sm-8">		        				
		        				<select class="form-control" ng-model="class_id" ng-change="onChangeClass()"
                                    ng-options="value.id as value.name for (key, value) in class_list">
                            </select>
		        			</div>
		        		</div>
		        		<div class="form-group">
		        			<label class="col-sm-4 control-label">Date Range</label>
		        			<div class="col-sm-8">		        				
		        				<input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" options="options" />	        	
		        			</div>
		        		</div>		        		
		        	</form>
		        </div>
      		</div>
		</div>
		<div class="col-sm-8"> 					
      		<div class="panel panel-default" style="margin-top: 5px; margin-bottom: 0px">
		        <div class="panel-heading font-bold">
		        	Booking History
		        	<div class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a ng-click="onDownloadPDF()" class="">
						<i class="fa fa-file-pdf-o" style="font-size: 20px; color:red" aria-hidden="true" title="Detailed PDF download"></i>
					</a>
				</div>
		        </div>
		        <div class="panel-body" style="padding: 0px;">
		        	<div class="table table-responsive" fill-height additional-padding="70">
		            	<table  class="table ticket table-striped" style="margin-top: 3px; border-color">
		            		<thead>
			                	<tr class="tblhead-sm" style="font-size: .7vw">			                		
			                		<th class="text-center"><b>Date</b></th>			                		
			                		<th class="text-center"><b>Time</b></th>		                		
			                		<th class="text-center"><b>Child Name</b></th>
			                		<th class="text-center"><b>Parent Name</b></th>
			                		<th class="text-center"><b>Parent Email</b></th>
			                		<th class="text-center"><b>Action</b></th>		                		
			                	</tr>
		            		</thead>
		            		<tbody>
			                	<tr style="height:1vw" ng-repeat="row in booking_list"  >			                		
			                		<td class="text-center" style="padding: 10px 3px">		                		  	
			                		  	<span class="h4 text-info"><i class="fa fa-check text-success text-lg" ng-class="{'fa-book': row.done_flag == 0, 'fa-check' : row.done_flag != 0}" style="margin-right: 3px" aria-hidden="true"></i>{{row.start_time | mydate}}</span>
			                		</td>			          
			                		<td class="text-center v-middle">
			                		     {{row.start_time | mydatetime: 'hh:mm A'}} - {{row.end_time | mydatetime: 'hh:mm A'}}
			                		</td>

									<td class="text-center v-middle">
			                			{{row.child_name}}
			                		</td>

			                		<td class="text-center v-middle">
			                			{{row.name}}
			                		</td>

			                		<td class="text-center v-middle">
			                			{{row.email}}
			                		</td>

			                		<td class="text-center v-middle">
			                			<i class="fa fa-tasks text-info text-lg" aria-hidden="true" ng-show="row.done_flag == 0" ng-click="onFinishBooking(row)"></i>
			                		</td>		                		
			                	</tr>
		            		</tbody>
		            	</table>
	            	</div>
		        </div>
      		</div>
		</div>
	</div>
</div> 
