<div ng-controller="TimeslotController">
	<div class="row nomargin">
		<div class="col-sm-5"> 					
			<div class="panel panel-default" style="margin-top: 5px">
		        <div class="panel-heading font-bold">Enter Slot Name</div>
		        <div class="panel-body">
		        	<form class="bs-example form-horizontal" ng-submit="onAddTimeSlot()">
		        		<div class="form-group">
		        			<label class="col-sm-4 control-label">Enter Class Name</label>
		        			<div class="col-sm-8">		        				
		        				<input type="text" ng-model="timeslot.class_name" class="form-control"
						            uib-typeahead="item.name for item in class_list | filter:{name:$viewValue}"
						            typeahead-min-length="0"
						            typeahead-editable="false"
						            typeahead-on-select="onSelectClass($item, $model, $label)" required>
		        				<span class="help-block m-b-none">e.g 3SB</span>
		        			</div>
		        		</div>
		        		<div class="form-group">
		        			<label class="col-sm-4 control-label">Enter Date</label>
		        			<div class="col-sm-8">
		        				<div class="input-group">
						        	<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="timeslot.date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required/>
						        	<span class="input-group-btn">
							        	<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							        </span>
						        </div>
		        				<span class="help-block m-b-none">e.g Thursday 23rd</span>
		        			</div>
		        		</div>
		        		<div class="form-group">
		        			<label class="col-sm-4 control-label">Time Slot Length</label>
		        			<div class="col-sm-8">
		        				<input type="number" ng-model="timeslot.slot_length" class="form-control" min="10" max="60" required>
		        				<span class="help-block m-b-none">e.g 15mins</span>
		        			</div>
		        		</div>
		        		<div class="form-group">
		        			<label class="col-sm-4 control-label">Enter Start and end times</label>
		        			<div class="col-sm-8">		        				
		        				<div class="col-sm-6" uib-timepicker ng-model="timeslot.start_time" ng-change="onChangedTime()" hour-step="1" minute-step="10" show-meridian="true"></div>
		        				<div class="col-sm-6" uib-timepicker ng-model="timeslot.end_time" ng-change="onChangedTime()" hour-step="1" minute-step="10" show-meridian="true"></div>
		        			</div>
		        			<div class="col-sm-12" hidden>			        			
	          					<rzslider rz-slider-model="timeslot.minValue"
							          rz-slider-high="timeslot.maxValue"
							          rz-slider-options="timeslot.options"></rzslider>
		        			</div>		        			
		        		</div>
		        		<div class="form-group" hidden>
		        			<div class="col-sm-12">
		        			  	<button type="submit" class="btn m-b-xs btn-sm btn-primary btn-addon pull-right"><i class="fa fa-plus"></i>Add Another Days</button>
		        			</div>
		        		</div>
		        		<div class="form-group">
		        			<div class="col-sm-12">		
		        				<div class="pull-right">        			  	
			        			  	<button type="submit" class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa" ng-class="{'fa-plus': !(timeslot.id > 0), 'fa-pencil': timeslot.id > 0}"></i>{{timeslot.id > 0 ? 'Save Timeslot' : 'Add Timeslot'}}</button>
			        			  	<button type="button" class="btn m-b-xs btn-sm btn-default" ng-click="onCancelTimeSlot()">Cancel</button>
			        			</div>  	
		        			</div>
		        		</div>
		        	</form>
		        </div>
      		</div>
		</div>
		<div class="col-sm-7 nopadding"> 	
			<div  class="b-info" style="border-style: solid;">
				<h3 class="text-center mybg-info">
					Days and Times
				</h3>
				<div class="table table-responsive" fill-height additional-padding="70">
	            	<table  class="table ticket table-striped" style="margin-top: 3px; border-color">
	            		<thead>
		                	<tr class="tblhead-sm" style="font-size: .7vw">
		                		<th class="text-center"><b>Class Name</b></th>
		                		<th class="text-center"><b>Date</b></th>
		                		<th class="text-center"><b>Time slot length</b></th>
		                		<th class="text-center"><b>Time</b></th>		                		
		                		<th  class="text-center"><b>Delete</b></th>		                		
		                	</tr>
	            		</thead>
	            		<tbody>
		                	<tr style="height:1vw" ng-repeat="row in timeslot_list"  >
		                		<td class="text-center" style="padding: 10px 3px">		                		  	
		                		  	<span class="h4 text-info">{{row.name}}</span>
		                		</td>
		                		<td class="text-center" style="padding: 10px 3px">		                		  	
		                		  	<span class="h4 text-info">{{row.start_time | mydate}}</span>
		                		</td>
		                		<td class="text-center v-middle">
		                			{{row.slot_length}} minutes
		                		</td>
		                		<td class="text-center v-middle">
		                		     {{row.start_time | mydatetime: 'hh:mm A'}} - {{row.end_time | mydatetime: 'hh:mm A'}}
		                		</td>
		                		<td class="text-center v-middle">
		                			<i class="fa fa-pencil text-info text-lg" aria-hidden="true" ng-click="onEditTimeSlot(row)"></i>
		                			<i class="fa fa-times text-danger text-lg" aria-hidden="true" ng-click="onDeleteTimeSlot(row)"></i>      
		                		</td>		                		
		                	</tr>
	            		</tbody>
	            	</table>
            	</div>
			</div>				
		</div>
	</div>
</div> 
