<span us-spinner="{radius:30, width:8, length: 16}"></span>
<div class="md-navbar navbar blue md-whiteframe-z1">
  <!-- navbar header -->
  <div class="navbar-header">
    <!-- brand -->
    <a href="#/" class="navbar-brand text-lt">
      <span class="hidden-folded m-l-xs">{{page_title}}</span>
    </a>
    <!-- / brand -->
  </div>
  <!-- / navbar header -->
</div>

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}">
</toaster-container>

<div class="md-content stretch" style="width: 100%" ui-view>
	
</div>

	